.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .light-color {
    background-color: rgb(101, 109, 74)
  }
  
  .dark-color {
    background-color: rgb(65, 72, 51);
  }
  
  .background-color {
    background-color: rgb(237, 224, 212)
    
  }
  
  .accent-color {
    background-color: rgb(127, 85, 57)
  }
  
  .accent-color-light {
    background-color: rgb(166, 138, 100)
  }
  
   button {
      background-color: rgb(65, 72, 51);
      color: rgb(65, 72, 51);
      cursor: pointer;
      /* color: rgb(237, 224, 212); */
      /* border: rgb(237, 224, 212); */
      
    }

    .note {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgb(101, 109, 74);
      border-radius: 10px;
      padding: 1rem;
      min-height: 170px;
    }
    
    .notes-group {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat (auto-fit, minmax(245, 1fr));
    }
    
    .note-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  