body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(70, 155, 70);
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
}

.notes-group {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat (auto-fit, minmax(245, 1fr));
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}